<h1>Editing Crossing</h1>

<%= render 'form' %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <%= link_to 'Show', @crossing %>
            <%= link_to 'Back', crossings_path %>
        </div>
    </div>
</div>
