<h1>Editing Child</h1>

<%= render 'form' %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <%= link_to 'Show', @child %>
            <%= link_to 'Back', children_path %>
        </div>
    </div>
</div>



