<h1>New Child</h1>

<%= render 'form' %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <%= link_to 'Back',children_path %>
        </div>
    </div>
</div>
