<h1>Editing genetic_bank</h1>

<%= render 'form' %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <%= link_to 'Show', @genetic_bank %>

            <%= link_to 'Back', genetic_banks_path %>

        </div>
    </div>
</div>

