<h1>Editing Sowing</h1>

<%= render 'form' %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <%= link_to 'Show', @sowing %>
            <%= link_to 'Back', sowings_path %>

        </div>
    </div>
</div>
